/* About */
#About {
    width: 100%;
    background-image: url("../images/spectrum-gradient.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

#about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10% 25%;
    text-align: center;
    color: var(--primary-color);
}

#about-header img {
    margin-top: 40px;
}

#about-header h2 {
    margin-top: 50px;
    font-weight: 700;
    font-size: 1.7em;
    text-align: center;
}

#about-header hr {
    margin-top: 1px;
    width: 2.5em;
    opacity: 1;
    border: 2px solid;
    color: var(--primary-color);
}

#about-container-data {
    width: 100%;
    padding: 0 10%;
    color: var(--secondary-text);
}

#about-container-data p {
    font-size: 1em;
}

#about-container-data h3 {
    font-size: 1.3em;
    color: var(--primary-color);
}

#about-container-data hr {
    opacity: 1;
    border: 1px solid;
    margin-top: -10px;
}

#about-container-data ul {
    list-style: disc;
    margin-left: -10px;
}

#about-p-bottom {
    margin: 0;
    padding-bottom: 27%;
}

@media screen and (min-width:768px) and (max-width:1023px) {

    /* About */
    #about-header {
        padding: 10% 30%;
    }

    #about-container-data {
        padding: 0 15%;
    }

    #about-container-data h3 {
        color: var(--primary-color);
    }

    #about-container-data hr {
        color: var(--primary-color);
    }

    #about-container-data ul {
        /* font-size: 1.3em; */
        margin-left: -7px;
    }
}

@media screen and (min-width:1024px) {

    /* About */
    #About {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #about-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        padding: 10% 10%;
    }

    #about-header img {
        margin-top: 0px;
    }

    #about-header h2 {
        margin-top: 10px;
    }

    #about-header hr {
        color: var(--primary-color);
    }

    #about-container-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding: 10% 5%;
        padding-right: 10%;
    }

    #about-container-data h3 {
        width: 100%;
    }

    #about-container-data p {
        width: 100%;
    }

    #about-container-data hr {
        width: 100%;
        color: var(--primary-color);
    }

    #about-container-data ul {
        width: 100%;
        margin-left: -10px;
    }

    #about-p-bottom {
        padding-bottom: 0;
    }
}